@font-face{
    font-family: roboto;
    font-weight: normal;
    src:url('../font/Roboto-Black.ttf')
}
@font-face{
    font-family: roboto;
    font-weight: lighter;
    src:url('../font/Roboto-Bold.ttf')
}
@font-face{
    font-family: roboto;
    font-weight: bold;
    src:url('../font/Roboto-BoldItalic.ttf')
}
@font-face{
    font-family: roboto;
    font-weight: bolder;
    src:url('../font/Roboto-Italic.ttf')
}