/*#9fbe39*/
html , body{ 
    width: 100%;
    height: auto;
  }
.general-content{
    width: 100%;
    height: auto;
}
.header{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-left{
    width: 70%;
    height: auto;
    display: inline-flex;
}
.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav a{
    margin-left: 2.5em;
    color: black;
    text-decoration: none;
}
.header-right{
    display: flex;
    flex-direction: row;
    float: right;
    justify-content: center;
}
.header-right a{
    display: flex;
    align-items: center;
    margin-right: 1em;
    text-decoration: none;
    color: black;
    font-size: 1.25em;
}
.header-right button a{
    color: white;
}
.header-right button{
    color: white;
    background-color:#9fbe37;
    border: none;
    float: right;
    display: flex;
    margin-right: 2em;
    align-items: center;
    padding-left: 1.4em;
    padding-right: 1.4em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.2em;
    border-radius: 7px;
    text-decoration: none;
}
.content{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    
}
.content-p p{
    font-size: smaller;
}
.content-left{
    background-color: #ebeaef;
    width: 70%;
    height: auto;
    border-radius: 0px 0px 21px 0px;
    display: flex;
    position: relative;
}
.content-full{
    margin-right: 4em;
    margin-left: 4.25em;
    margin-top: 4em;
    margin-bottom: 8em;
    width: 70%;
}
button{
    color: white;
    background-color: #9fbe37;
    border: none;
    float: right;
    display: flex;
    margin-right:;
    align-items: center;
    padding-left: 1.4em;
    padding-right: 1.4em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.2em;
    border-radius: 7px;
    text-decoration: none;
}
.img-right{
    right: 0px;
    width: 50%;
    height:65%;
    position: absolute;
    margin-top: 2em;
    margin-left: 2em;
}
.room{
    border-radius: 0px 0px 0px 21px;
}
.content-title{
    width: 100%;
    font-size: 2em;
    margin-bottom: 0.5em;
    line-height: 44px;
}
.content-title p{
    width: 85%;
    font-weight: 300;
}
.content-p{
    width: 80%;
    font-size: 1.03em;
    margin-bottom: 1.5em;
    line-height: 25px;
}
.content-information{
    width: 70%;
    height: auto;
}
.info-location{
    background-color: white;
    width: 100%;
    padding-top: 0.35em;
    padding-bottom: 0.35em;
    padding-left: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.location-sub{
    font-size: 0.75em;
    color: rgb(182, 177, 177);
    margin-bottom: 0.75em;
}
.location-address{
    font-size: 1em;
}
.icon-location{
    margin-right: 1em;
    color:#9fbe37;
    font-size: 1.25em;
    margin-top: 0.5em;
}
.info{
    width: 103%;
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    margin-bottom: 1.5em;
}
.info-nights{
    background-color: white;
    width: 60%;
    height: auto;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    margin-right: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.info-guests{
    background-color: white;
    width: 50%;
    height: auto;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.find-info{
    width: 100%;
    background-color:#9fbe37;
    height: auto;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    font-size: 1em;
}
.brands{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.image-brand{
    width:65%;
    height: auto;
    margin:auto;
    margin-top: 3em;
}
.img-brand{
    margin: 0.75em;
    filter:grayscale(100%);
}
.image-right{
    width: 24%;
    height: 100%;
    margin-right: 2em;
}
.img-brand-right{
    border-radius: 0px 0px 50px 0px;
    height: 17em;
}
.image-slider-general{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3em;
}
.slider{
    width: 95%;
    height: 100%;
    padding-left:2em;
    padding-top: 2em;
    margin-bottom: 7em;
}
.info-card-flas button{
    margin-right: 7em;
}
.title-sliderss{
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 0.75em;
}
.content-slider{
    width: 100%;
    height: 100%;
    display: flex;
    margin-bottom: 2em;
    justify-content: space-between;
}
.p-slider{
    width: 50%;
    height: auto;
}
.p-slider p{
    font-size: 1.25em;
    line-height: 1.5em;
    color: rgb(138, 134, 134);
}
.flash-slider{
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.flash-slider .flash-left i{
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}
.flash-slider .flash-left {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flash-slider .flash-right i{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}
.flash-slider .flash-right {
    display: flex;
    justify-content: center;
    align-items: center;
}
.images-slider {
    width: 100%;
    height: 100%;
    display: flex;
}
.card{
    width: 20%;
    height:100%;
    margin-left:1.5em;
}
.imageslider{
    margin-top: 3em;
    margin-bottom: 3em;
    border-radius: 25px 25px 0px 0px;
}
.title-slider{
    font-size: 0.85em;
    margin-bottom: 0.5em;
    font-weight: bold;
}
.name-slider{
    font-size: 1em;
    font-weight: 400;
}
.information-hotel-mobile{
    display: none;
}
.information-card{
    width: 100%;
    height: auto;
    margin-top: 3em;
    margin-bottom: 18em;
}
.info-card-bg{
    width: 80%;
    height: 163%;
    background-color: #ebeaef;
    position:absolute;
}
.info-card-content{
    width: 90%;
    height: auto;
    margin-top: 4em;
    margin-left: 5em;
    position:relative;
}
.imageslider{
    height: 16em;
    width: 100%;
}
.info-card-top{
    margin-right: 7em;
    margin-bottom: 2em;
    padding-top: 5em;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.info-card-title{
    font-size: 2em;
}
.info-card-flas  i{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    margin-right:0.5em ;
}
.info-rooms{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.info-room{
    width: 28%;
    height: 100%;
    background-color: white;
    padding: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 18px;
}
.rooms{
    margin-left: 1em;
}
.info-room-images{
    width: 100%;
    display: flex;
    height: 100%;
    margin-bottom: 1em;
}
.info-room-images .images{
    margin-left: 0.5em;
    border-radius: 10px;
}
.info-room-images .images1{
    border-radius: 10px;
}
.info-room-paragraph{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}
.info-room-title{
    font-size: 1.25em;
    margin-bottom: 0.75em;
    font-weight: bold;
}
.info-room-icons{
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 2em;
    flex-direction: row;
}
.info-room-icon{
    display: flex; 
    flex-direction: column; 
    margin: auto;
}
.info-room-icon i{
    color: #9fbe37;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info-room-icon .paragraph{
    margin-top:1em;
}
.p1{
    font-weight: 900;
    font-size: 1.25em;
}
.information-hotel{
    width: 100%;
    height: auto;
}
.info-hotel{
    width: 100%;
    height:auto;
    display: flex;
    margin-bottom: 8em;
}
.info-hotel-img{
    width:40%;
    height: 18em;
    display: flex;
    flex-direction: column;
    margin-right: 3em;

}
.imagesleft1{
    margin-left: 6em;
    border-radius: 0px 30px 0px 30px;
}
.info-paragraph{
    width: 100%;
    height: auto;
}
.info-hotel-p{
    width: 100%;
    height: auto;
}
.informations{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.infos{
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    
}
.info-right{
    margin-left: 2em;
    width: 25%;
    height: auto;
    display: flex;
    flex-direction: column;
}
/**.info .background{
    width: 50%;
    height: 50%;
    border-radius: 100%;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;

}**/
.info img{
    width: 25%;
    height:25%;
    border-radius: 50%;
}
.info-right img{
    width: 25%;
    height:25%;
    border-radius: 50%;
}
.title-information{
    font-size: 2em;
    font-weight: 900;
    margin-bottom: 0.5em;
}
.subtitle-information{
    line-height: 1.25em;
    color: rgb(138, 134, 134);
    margin-bottom: 2em;
}
.title-info{
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 0.5em;
    margin-top: 0.75em;
}
.subtitle-info{
    line-height: 1.25em;
    color: rgb(138, 134, 134);
    margin-bottom: 2.5em;
    width: 80%;
}
.imagesleft{
    border-radius: 0px 0px 20px 0px;
    margin-bottom:2em;
}
.info-imgg{
    width: 100%;
    height: auto;
}
.info-image{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 4em;
}
.info-image1{
    margin-left: 6em;
    border-radius:30px 0px 30px 0px;
    width: 25%;
}
.info-image2{
    margin-left: 2em;
    border-radius:30px 0px 30px 0px;
    width: 22%;
}
.info-image3{
    margin-top: 2em;
    margin-left: 2em;
    border-radius:30px 0px 30px 0px;
    width: 27%;
}
.header-mobile{
    display: none;
}
/**hover**/
.nav a:hover{
    border-bottom: #9fbe37 2px solid;
}
.nav a:hover{
    color: #9fbe37;
}
.header-right a:hover{
    color: #9fbe37;
}
button:hover{
    background-color: white;
    color: #9fbe37;
    border: #9fbe37 solid 2px;
    border-radius: 7px;
}
.img-right:hover{
    border-radius: 0px 0px 0px 25px;
    filter: contrast(130%);
    box-shadow:6px 6px 6px #d8d7dd;

}
.img-brand:hover{
    margin: 0.75em;
    filter:saturate(15);
    filter:drop-shadow(8px 8px 10px #d8d7dd );

}
.img-brand-right:hover{
    border-radius: 0px 0px 0px 25px;
    filter: contrast(130%);
    box-shadow:6px 6px 6px #d8d7dd;

}
.card img:hover{
    transform: scale(1.01,1.01);
    border-radius: 0px 25px 0px 25px;
    filter: contrast(130%);
    box-shadow:6px 6px 6px #d8d7dd;


}
.info-card-flash :hover{
    font-size: larger;
    
}
.images1:hover{
    transform: scale(1.02,1.02);
    animation-delay: 10s;
    box-shadow:5px 5px 5px #d8d7dd;
    filter: contrast(130%);
}
.images:hover{
    transform: scale(1.02,1.02);
    animation-delay: 10s;
    box-shadow:5px 5px 5px #d8d7dd;
    filter: contrast(130%);

}
.info-rooms .info-room i:hover{
    color: #46512d;
    font-size: 1.5em;
}
.imagesleft:hover{
    transform: scale(1.01,1.01);
    box-shadow:5px 5px 5px #d8d7dd;
    filter: contrast(130%);
    box-shadow:6px 6px 6px #d8d7dd;

}
.imagesleft1:hover{
    transform: scale(1.01,1.01);
    box-shadow:5px 5px 5px #d8d7dd;
    border-radius: 0px 25px 0px 25px;
    filter: contrast(130%);
    box-shadow:6px 6px 6px #d8d7dd;

}
.info-image1:hover{
    transform: scale(1.01,1.01);
    box-shadow:5px 5px 5px #d8d7dd;
    border-radius: 0px 25px 0px 25px;
    filter: contrast(130%);
}
.info-image2:hover{
    transform: scale(1.01,1.01);
    box-shadow:5px 5px 5px #d8d7dd;
    border-radius: 0px 25px 0px 25px;
    filter: contrast(130%);
}
.info-image3:hover{
    transform: scale(1.01,1.01);
    box-shadow:5px 5px 5px #d8d7dd;
    border-radius: 0px 25px 0px 25px;
    filter: contrast(130%);
}
.header-tablet{
    display: none;
}
.search-container{
    width:100%;
    margin-left: 3em;
}
.search-container form{
    width:100%;
}
.search-container input{
    width:38%;
    border:1px #9fbe37 solid;
    padding:3px 7px;
}
.search-container button{
    background-color: #9fbe37;
    color:white;
    border: none;
    padding: 4px 9px;
}
.search-container button:hover{
    background-color: white;
    color:#9fbe37;
    border: 2px #9fbe37 solid;
}
/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
/**responsive**/
@media screen and (max-width:780px){
    .header{
        display: none;
    }
}
@media screen and (max-width:780px){
    .header-left span{
        display: flex;
        align-items: center;
        font-size: 1.5em;
        height: auto;
        padding: 3px 5px;
    }
}
@media screen and (max-width:780px){
    .header-right{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width:100%;
    }
}
@media screen and (max-width:780px){
    .img-header{
        display: block;
    }
}
@media screen and (max-width:780px){
    .menu{
        display: flex;
        align-items: center;
        margin-left:2em;
    }
}
@media screen and (max-width:780px){
    .header-orginal{
        display: flex;
        width: 100%;
        margin: 0.75em 1.5em;
    }
}
@media screen and (max-width:780px){
    .header-tablet{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}
@media screen and (max-width:780px){
    .nav{
        display: none;
    }
}
@media screen and (max-width:780px){
    .images-slider{
        display: flex;
        flex-wrap: wrap;
    }
}
@media screen and (max-width:780px){
    .card{
        width: 40%;
    }
}
@media screen and (max-width:780px){
    .info-rooms{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media screen and (max-width:780px){
    .info{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width:780px){
    .info-nights{
        margin-bottom: 10px;
    }
}
@media screen and (max-width:780px){
    .info-room,.rooms{
       width: 40%;
       margin: 1em;
    }
}
/**@media screen and (max-width:780px){
    .information-hotel{
       margin-top: 24em;
    }
}**/
@media screen and (max-width:780px){
    .info-card-bg{
       height: 245%;
    }
}
@media screen and (max-width:780px){
    .informations{
        display: flex;
        flex-wrap: wrap;
    }
}
@media screen and (max-width:780px){
    .informations .infos{
        width: 50%;
    }
}
@media screen and (max-width:690px){
    .content{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width:690px){
    .content-left{
        width: 100%;
        order: 1;
        position: initial;
    }
}
@media screen and (max-width:690px){
    .img-right{
        width: 100%;
        order: 0;
        position: initial;
        margin: 2em 0px;
    }
}
@media screen and (max-width:780px){
    .images-slider{
        display: flex;
        flex-wrap: wrap;
    }
}
@media screen and (max-width:780px){
    .content-full{
        margin: 3em;
    }
}
@media screen and (max-width:690px){
    .card{
        width: 45%;
    }
}
@media screen and (max-width:690px){
    .informations{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
}
@media screen and (max-width:690px){
    .info-room,.rooms{
       width: 80%;
       margin: 1em;
       margin: 1em;
    }
}
@media screen and (max-width:690px){
    .info-card-bg{
       height: 255%;
       width: 80%;
    }
}
@media screen and (max-width:690px){
    .info-hotel{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        width: 100%;
    }
}
@media screen and (max-width:690px){
    .information-card{
        margin-bottom: 3em;
    }
}
@media screen and (max-width:690px){
    .info-hotel-p{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-left: 2em;
    }
}
@media screen and (max-width:690px){
    .infos{
        width: 43% !important;
        margin: 1em;
    }
}
@media screen and (max-width:690px){
    .informations{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
}
@media screen and (max-width:690px){
    .info-hotel-img{
        width: 100%;
        height: auto;
        margin: 1em;
        display: flex;
        flex-wrap: wrap;
        flex-direction:row;
    }
}
@media screen and (max-width:690px){
    .info-hotel-img img{
        width: 100%;
        margin: 1em;
    }
}
@media screen and (max-width:690px){
    .header-tablet{
        display: none;
    }
}
@media screen and (max-width:690px){
    .header-mobile{
        display: inline;
    }
}
@media screen and (max-width:690px){
    .header-right{
        display: flex;
        align-items: center;
        font-size: 1.25em;
        color: #9fbe37;
    }
}
@media screen and (max-width:690px){
    .img-header{
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width:690px){
    .header-orginal{
        margin: 1em 0em;
    }
}
@media screen and (max-width:690px){
    .content-full{
        width: 90%;
    }
}
@media screen and (max-width:690px){
    .content-left{
        width: 100%;
    }
}
@media screen and (max-width:690px){
    .content-full{
        width: 100%;
        margin: 30px;
    }
}
@media screen and (max-width:690px){
    .info{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width:690px){
    .info-nights{
        margin-bottom: 10px;
    }
}
@media screen and (max-width:690px){
    .image-right{
        display: none;
    }
}
@media screen and (max-width:690px){
    .image-brand{
        width: 100%;
    }
}
@media screen and (max-width:690px){
    .flash-slider{
        display: none;
    }
}
@media screen and (max-width:690px){
    .p-slider{
        width: 100%;
    }
}
@media screen and (max-width:690px){
    .info-card-top{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width:690px){
    .info-card-flash{
        width: 30%;
        margin-top: 2em;
        padding: 9px;
    }
}
@media screen and (max-width:690px){
    .info-card-top{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width:690px){
    .info-card-content{
        margin: 9px;
    }
}
@media screen and (max-width:690px){
    .information-hotel{
        margin: 5em 0em;
        width: 100%;
    }
}
@media screen and (max-width:690px){
    .info-image{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
@media screen and (max-width:690px){
    .info-hotel-img img{
        width: 80%;
        margin: 2em;
    }
}
@media screen and (max-width:690px){
    .info-image1{
        width: 80%;
        margin: 2em;
    }
}
@media screen and (max-width:690px){
    .info-image2{
        width: 80%;
    }
}
@media screen and (max-width:690px){
    .info-image3{
        width: 80%;
    }
}
@media screen and (max-width:690px){
    .imageslider{
        width: 97%;
    }
}
@media screen and (max-width:690px){
    .information-hotel-mobile{
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width:690px){
    .information-hotel-mobile button{
        font-size: 1.5em;
        background-color: #9fbe37;
        width: 30%;
        border: none;
        padding: 12px;
        color: white;
}
@media screen and (max-width:690px){
    .info-image{
        display: none;
    }
}


